table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: inherit;
}

  .vertical {
                 writing-mode: vertical-rl; /* Or vertical-lr */
                 text-orientation: upright; /* Optional: Keeps characters upright instead of rotated */
         }

	#eisenhowermatrix {
            width:95%;

         }

         .eisenhowerlines td{
         	width:100%;
            height: 20px;
            border-bottom: 1px solid #b8b8b8; /* was ccc atk 18 Jan 2026*/
			padding: 0;
			font-size:9pt;
            
         }
         .eisenhowerlines {
         width:100%;
         }
		 .eisenhowercol1 {
           width:30px;
         }

		  .eisenhowercol2 {
           width:45%;
         }

		  .eisenhowercol2 {
           width:45%;
         }
         .boxtext {
            border: 1px solid #ccc;
         }

#hourtable {
   background-color:#eee;
   border:0px solid #fff;
	width:95%;
 


}
#hourtable td {
   background-color:#eee;
   border-bottom:1px solid #ccc;
   font-size:8pt;
   height:18px;

}
#hourtable th {
   background-color:#fff;
   border-bottom:0px solid #fff;
   font-size:1pt;
   height:1px;

}

#hourtable #onePixHeight {
	height:1px;
	font-size:1px;
}
.smallerTextLight {
	font-size: 9px;
	color:#939393; /* make a bit darker atk 1 Jan 2026 from bdbcbc, and again Feb 2026 */
}




#year-review-table  {

  width: 100%;
}

#year-review-table td {
   background-color:#eee;
   border:1px solid #ccc;
  float: right;
  margin-left: 15px;
  width: 30%;
  height: 150px;  
   
}

.title-page {
	width: 100%;
	text-align: right;
	padding-right: 100px;
	padding-top: 100px;
	line-height: 30px;
}

.akyearlyplan { width:100%; }
.akyearlyplan td { border:1px solid #aaa; padding:2px ;vertical-align:top; height: 150px; }
    .akyearlyplan td { width: 20%; }

.title-page__year {
	font-weight: bold;
	font-size: 90pt;
	color:rgb(25, 190, 10)
}

.title-page__recalendar {
	font-size: 25pt;
	color: #999;
}

.ui-datepicker-header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #888;
}

.ui-datepicker-calendar {
	font-size: 10pt;
	width: 100%;
	text-align: center;
}

.calendar-week.highlight-week {
	background-color: #CCC;
}

.calendar-day {
	color: black;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	width: 15px;
	height: 15px;
	line-height: 15px;
	border: none;
}

.calendar-day.first-week {
	border-top: 1px solid black;
}

.calendar-day.weekend-day {
	font-weight: bold;
}

.calendar-day.highlight-day {
	background-color: #CCC;
}

.calendar-day.special-date {
	border: 1px solid #555;
}

.calendar-day.other-month {
	color: #999;
}

.calendar-box {
	border-left: 1px solid black;
	padding: 0px 10px 5px 10px;
	width: 100px;
	border-bottom: 1px solid black;
}

.calendar__week-number {
	border-right: 1px solid black;
}

th.calendar__week-number,
th.calendar__week-retrospective {
	border-bottom: 1px solid black;
}

div.akwr td {
	border: 1px solid rgb(80, 80, 80);	
	border-left: none;
	border-right: none;
	border-collapse: collapse;
}

td.calendar__week-number,
td.calendar__week-retrospective {
	color: #888;
}

.calendar__week-retrospective {
	border-left: 1px solid black;
}

td.calendar__week-number {
	color: #888;
}

.calendar__previous-month,
.calendar__next-month {
	color: #AAA;
	font-size: 18px;
	font-weight: bold;
}

.calendar__full-month-name {
	color: black;
	letter-spacing: 1px;
	font-size: 12pt;
}

.header-line {
	text-align: right;
	text-transform: uppercase;
	font-size: 20pt;
	padding-right: 10px;
}


.year-overview__title {
	text-align: center;
	font-size: 30pt;
	padding-top: 30px;
	margin-bottom: 20px;
}

.year-overview__calendars {
	width: 100%;
}

.year-overview__calendar {
	vertical-align: top;
	padding: 5px;
}

.month-overview__month-name {
	text-transform: uppercase;
	font-size: 30pt;
	font-weight: bold;
}

.month-overview__habit-header {
	width: 22px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	border-left: 1px solid #999;
}

.month-overview__habit-header.name {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 7pt;
}

.month-overview__habit-header.disabled {
	background: white;
	border: 1px solid white;
}

.month-overview__habit-header.weekend,
.month-overview__habit-box.weekend {
	background: #EEE;
}

.month-overview__habit-name {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	font-weight: bold;
	width: 100px;
	height: 20px;
}

.month-overview__habit-box {
	border: 1px solid #999;
}

.month-overview__habit-box.disabled {
	background: white;
	border: 1px solid white;
}

.day-entry__month-name,
.week-overview__week-name,
.week-retrospective__week-name {
	text-align: right;
	font-size: 18pt;
	text-transform: uppercase;
	padding-top: 35px;
}

.week-retrospective__week-name {
	padding-top: 12px;
}

.week-overview__day-of-week {
	color: #333;
}

.day-entry__day-number,
.week-overview__day-number,
.week-retrospective__day-number {
	width: 90px;
	text-align: center;
	font-size: 50pt;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

.day-entry__special-items {
	vertical-align: bottom;
	font-style: italic;
	font-size: 10pt;
	padding: 10px;
}



.day-entry__day-of-week {
	vertical-align: bottom;
}

.day-entry__previous-day,
.day-entry__next-day,
.week-overview__previous-week,
.week-overview__next-week,
.week-retrospective__previous-week,
.week-retrospective__next-week {
	font-size: 20pt;
	color: #AAA;
	width: 22px;
}

.day-entry__previous-day,
.week-overview__previous-week,
.week-retrospective__previous-week {
	padding-left: 10px;
}

.day-entry__next-day,
.week-overview__next-week,
.week-retrospective__next-week {
	padding-right: 10px;
}

.content-box { 
	background-color: rgb(212, 214, 214); /* rgb(188, 192, 192);- too dark, rgb(200, 202, 202); also too dark change color as differnt boox update makes color darker */
	width: 95%; /* ak changed 15/06/2024 */
	vertical-align: middle;
}

.monthplan tr {
   line-height:24pt;
}


.allborders {
    border: 1px dashed red;
}

.allborders td {
    border: 1px dashed red;
}

.allborders tr td{
    border: 1px dashed red;
}


.allborders {
    border: 1px dashed red;
}

.content-box-height {

	
	height: 20pt;
	vertical-align: bottom;
	font-size: 10pt;
	
	

}

.content-box-line {
	width: 100%;
	border-bottom: 1px solid #AAA;
	height: 20pt;
	padding: 0 0 0 10px;
	font-size: 12pt;
	font-weight: bold;
	text-transform: uppercase;
}

.content-box-line-smaller {
	width: 100%;
	border-bottom: 1px solid #AAA;
	height: 15;
	padding: 0 0 0 10px;
	font-size: 11pt;
	
}

.content-box-line-ak {
	width: 100%;
	border-bottom: 1px solid #AAA;
	height: 20pt;
	padding: 0 0 0 10px;
	font-size: 9pt;
	
}

.content-box-line-justified {
	width: 100%;
	border-bottom: 1px solid #AAA;
	height: 20pt;
	padding: 0 0 0 10px;
	font-size: 9pt;
	text-align: justify;

}
s
.content-box-line-ak-strong {
	width: 100%;
	border-bottom: 1px solid #AAA;
	height: 20pt;
	padding: 0 0 0 10px;
	font-size: 11pt;
	font-weight: bold;
}

.week-overview__day-entry {
	border: 1px dotted black;
	width: 33%;
	vertical-align: top;
	padding: 5px;
}

.week-overview__day-of-week {
	width: 50%;
	font-size: 12pt;
	font-weight: bold;
	text-transform: capitalize;
}

.week-overview__date {
	text-align: right;
	width: 50%;
	text-transform: uppercase;
	font-size: 12pt;
}

.week-overview__notes {
	vertical-align: top;
	font-style: italic;
	font-size: 10pt;
	padding: 10px;
}

.week-overview__special-item {
	font-size: 10pt;
}

.week-overview__range,
.week-retrospective__range {
	text-transform: uppercase;
	font-size: 18pt;
	border-bottom: 1px solid black;
}



  
  .ruledLinesTD {   
   border-bottom: 1px solid #bfbebe; /*  atk was AAA  12 Jan 2026*/
   width:95%;
   background-color:rgb(212, 214, 214);
   height:14pt;
   font-size: 9pt;
  }

  .ruledLinesTDSmaller {
	  border-bottom: 1px solid #bfbebe;
   width:95%;
   background-color:rgb(212, 214, 214);
   height:10pt;
   font-size: 7pt;
  }

  .smallerText {
	font-size: 8pt;
  }


  #page-break-before {
	page-break-before:always;
  }

  div.b {
	
	border: solid black 1px;
	display: inline-block;	
	margin: 5px;
	background: green;
	
	border: 1px solid #ccc;
  
  }
  #row1Eis {
   height:50pt;
  }
  
  
  .eisenWide {
	width:45%;
	
  }


  div#emotionsDiv table td.akheading {
    background-color: rgb(40, 52, 142);
    font-weight: bold;
    color: #ededed;
  }

  div#emotionsDiv {
    align-self: center;
    break-before: always;
    width:97%;
	page-break-before:always;
  
  }

  div#emotionsDiv td span.akemotion {
    color: #444444;       
    text-align:center;
  
  }

  .akemotion {
    color: #e0dede;
    font-weight: bold;
    text-align: center;
  }

  td.akemotion {
    color: #e0dede;
    font-weight: bold;
    text-align: center;
  }

  td.mainTd3ColsApprox {
    width:30%;
  }

  #mainTableEmotions {
    width:100%;
    
  }

  div#emotionsDiv table td.akemotion {
    border: 1px solid #ccc;
    color: #444444;
    text-align: center;
    
  }

  /* Styles for alternating columns (even-numbered columns) */
  .akemotioninner th:nth-child(even),
  .akemotioninner td:nth-child(even) {
    background-color: #b8e3e9;
    text-align: center;
  }

  /* Styles odd columns for tables with class "akemotion" */
  .akemotioninner th:nth-child(odd),
  .akemotioninner td:nth-child(odd) {
    background-color: #ffffff;
    text-align: center;
  }

  .akemotioninner {
    width:99%;
    color:#656565;
  }
  div#emotions table td {
    border: 1px solid #ccc;
    border-right: 1px solid #525151;
    color: #727070;
    text-align: center;
  }